body {
    background-color: #2596be;
    color: white;
  }
  
  #createaccount {
    text-align: center;
    top: 50%;
    margin-left: auto;
    margin-right: auto;
  }


#Img{

    height: 150px;
    width: 150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}