body{
    background-color: #2596be;
    color: white;
}

.text{
    text-align: center;
}

.icons{
    height: 20px;
    width: 20px;
}

.button{
        background-color: Transparent;
        background-repeat:no-repeat;
        cursor:pointer;
        overflow: hidden;
        outline:none;
}