

body {
    background-color: #2596be;
    color: white;


  }
  
#Img {
    height: 100px;
    width: 100px;
    margin-left: auto;
    margin-right: auto;
  }
  
  #postsettings {
    height: 100px;
    width: 100px;

    display: block;
    margin-left: auto;
    margin-right: auto;
  }

#theclicks{
    text-align: center;
}

